
*.suo
*.ncb
/Debug
/LuaUPnP/Debug
/ipch
*.sdf
*.opensdf
/libupnp/libupnp.dll
/libupnp/pthreadVC2.dll
/LuaUPnP/IUpnpErrFile.txt
/LuaUPnP/IUpnpInfoFile.txt
/LuaUPnP/TestDevice/IUpnpErrFile.txt
/LuaUPnP/TestDevice/IUpnpInfoFile.txt
/libupnp/libupnp.exp
/libupnp/libupnp.lib
/libupnp/libupnp.pdb