
*.suo
*.ncb
/Debug
/LuaUPnP/Debug
/ipch
*.sdf
*.opensdf
/libupnp/libupnp.dll
/libupnp/pthreadVC2.dll
/lib_src/IUpnpErrFile.txt
/lib_src/IUpnpInfoFile.txt
/lib_src/TestDevice/IUpnpErrFile.txt
/lib_src/TestDevice/IUpnpInfoFile.txt
/libupnp/libupnp.exp
/libupnp/libupnp.lib
/libupnp/libupnp.pdb
Debug
/*.session
/lib_src/LuaUPnP.vcxproj.user
